[submodule "utilities/EngJourneering"]
	path = utilities/EngJourneering
	url = git://github.com/chandlerkent/EngJourneering.git

[submodule "src/tests/OJMoq"]
	path = src/tests/OJMoq
	url = git://github.com/hammerdr/OJMoq.git