[submodule "src/tests/utilities/OJMoq"]
	path = src/tests/utilities/OJMoq
	url = git://github.com/hammerdr/ojmoq.git
[submodule "utilities/EngJourneering"]
	path = utilities/EngJourneering
	url = git://github.com/chandlerkent/EngJourneering.git
